.but{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 83px;
    background-color: #79b43f;
    height: 38px;
    width: 146px;
  
  }
  p{
    font-size: 12px;
    line-height: 22px;
    color: white;
    margin: 0;
  }