<!-- <ion-header>
  <ion-toolbar>
    <ion-title>selectionRole</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content>
  <div id="cercle1"></div>
  <div id="cercle2"> </div>



  <div class="header">
    <H2> <strong>Select your Role</strong> </H2>
    
  </div>

  <div class="container">
    <ion-list>
      <ion-item>
        <ion-label floating>manager</ion-label>
        <ion-checkbox slot="end" color="success"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label floating>Sub-manager</ion-label>
        <ion-checkbox slot="end" color="success"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label floating>course leader</ion-label>
        <ion-checkbox slot="end" color="success"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label floating>gas station attendant</ion-label>
        <ion-checkbox slot="end" color="success"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>


  <ion-row >
    <ion-col text-center>
      <button ion-button block color="secondary"  class="button" [routerLink]="['/selection-warehouse']" >
       <p>validate</p> 
      </button>
    </ion-col>
  </ion-row>
  


</ion-content>
