.header{
    background-color: #79b43f;
}

.affichagevolume{
    height: 37px;
    width: 118px;
    background-color: #79b43f;
  }
  div> p{
    color: white;
    font-size: 20px;
   
  }

  .imageheader{
    width: 251px;
    height: 85px;
    float: right;
}