<ion-header>
  <ion-toolbar>
    <ion-title>assign Pump</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-item>
    <ion-icon name="calendar"></ion-icon>
    <ion-datetime-button slot="end"  date-target="true" datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>


  <div class="bloc">
    <div class="bloc1">
      <ion-label> Hour of work :</ion-label>
    </div>


    
      <div class="select">
        <select>
          <option value="1">5h/13</option>
          <option value="2">13h/21</option>
        </select>
    
      </div>
  
  </div>



  <div class="bloc">
    <div class="bloc1">
      <ion-label> work team :</ion-label>
    </div>

    <ion-label>

      <div class="select">
        <select>
          <option value="1">Equipe1</option>
          <option value="2">Equipe2</option>
        </select>

      </div>

    </ion-label>
  </div>

  <div class="bloc">
    <div class="bloc1">
      <ion-label> pump :</ion-label>
    </div>

    <ion-label>

      <div class="select">
        <select>
          <option value="1">pompe 1</option>
          <option value="2">pompe 2</option>
          <option value="2">pompe 3</option>
          <option value="2">pompe 4</option>


        </select>

      </div>

    </ion-label>
  </div>

  <div class="bloc">
    <div class="bloc1">
      <ion-label> Gas station attendant:</ion-label>
    </div>

    <ion-label>

      <div class="select">
        <select>
          <option value="1">Abena</option>
          <option value="2">loic</option>
          <option value="2">Toto</option>
          <option value="2">Titi</option>


        </select>

      </div>

    </ion-label>
  </div>

   <!--  <div class="bloc2">
      <div class="jauge">
        <ion-label> gas station attendant
          :</ion-label>
      </div>

      <div class="input">
        <p><input type="text" name="pseudo" /> </p>

      </div>

    </div> -->

   

   

    <ion-row >
      <ion-col text-center>
        <button ion-button block  class="button">
         <p> <strong>Validate  <ion-icon class="icon" name="chevron-forward"></ion-icon></strong>   </p> 
        
        </button>
      </ion-col>
    </ion-row>



</ion-content>
