<!-- <ion-header>
  <ion-toolbar>
    <ion-title>selectionWarehouse</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div id="cercle1"></div>
  <div id="cercle2"> </div>



  <div class="header">
    <H2> <strong>Select your Warehouse</strong> </H2>
    
  </div>

  <div class="container">
    <ion-item>
      <ion-select interface="popover" placeholder="choose your station">
        <ion-select-option value="apples">Green oil Nkwabang</ion-select-option>
        <ion-select-option value="oranges">Green oil biteng</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select interface="popover" placeholder="choose your warehouse">
        <ion-select-option value="apples">Green oil Nkwabang</ion-select-option>
        <ion-select-option value="oranges">Green oil biteng</ion-select-option>
      </ion-select>
    </ion-item>
  </div>


  <ion-row >
    <ion-col text-center>
      <button ion-button block color="secondary"  class="button">
       <p>validate</p> 
      </button>
    </ion-col>
  </ion-row>
  


</ion-content>
