<ion-header>
  <ion-toolbar>
    <ion-title>gauge Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <ion-grid>
    <!-- entête tableau -->
    <div class="header">
      <ion-row>
        <ion-col>
          Cuve 
        </ion-col>
        <ion-col>
          Equipe
        </ion-col>
        <ion-col>
          date
        </ion-col>
        <ion-col>
          Statut
        </ion-col>
        <ion-col>
          action
        </ion-col>
      </ion-row>
    </div>
    
<!-- première ligne tableau-->    
     <ion-row>
      <ion-col>
        Cuve 1
      </ion-col>
      <ion-col>
        Equipe1-5h/13
      </ion-col>
      <ion-col>
        22/08/2022
      </ion-col>
      <ion-col>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
      <ion-col>
        action
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        
      </ion-col>
      <ion-col>
        Equipe2-13h/21
      </ion-col>
      <ion-col>
        22/08/2022
      </ion-col>
      <ion-col>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
      <ion-col>
        action
      </ion-col>
    </ion-row>
    <div class="spacer">
      
    </div>

    
    <div class="spacer">
      <ion-row>
        <ion-col>
           
        </ion-col>
        <ion-col>
          
        </ion-col>
        <ion-col>
          
        </ion-col>
        <ion-col>
          
        </ion-col>
      </ion-row>
    </div>
<!-- deuxième ligne tableau-->    

    <ion-row>
      <ion-col>
        Cuve 2
      </ion-col>
      <ion-col>
        Equipe1-5h/13
      </ion-col>
      <ion-col>
        22/08/2022
      </ion-col>
      <ion-col>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
      <ion-col>
        action
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        
      </ion-col>
      <ion-col>
        Equipe2-13h/21
      </ion-col>
      <ion-col>
        22/08/2022
      </ion-col>
      <ion-col>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
      <ion-col>
        action
      </ion-col>
    </ion-row>
    <div class="spacer">
      <ion-row>
        <ion-col>
           
        </ion-col>
        <ion-col>
          
        </ion-col>
        <ion-col>
          
        </ion-col>
        <ion-col>
          
        </ion-col>
      </ion-row>
    </div>
    <!-- troisième ligne -->
    <ion-row>
      <ion-col>
        Cuve 3
      </ion-col>
      <ion-col>
        Equipe1-5h/13
      </ion-col>
      <ion-col>
        22/08/2022
      </ion-col>
      <ion-col>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
      <ion-col>
        action
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        
      </ion-col>
      <ion-col>
        Equipe2-13h/21
      </ion-col>
      <ion-col>
        22/08/2022
      </ion-col>
      <ion-col>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button >
          save
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  

</ion-content>
