<ion-header>
  <ion-toolbar>
    <ion-title>gauge Status</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
   <!--  <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div class="headerbloc">
        <ion-card-title>Let's make your daily Gauge </ion-card-title>
        
          <ion-img class="imageheader" src="assets/images/cuve.png"></ion-img>


      </div>
      
    </ion-card-header>
    <ion-card-content>
     

    </ion-card-content>
  </ion-card>
  <br>
  
  <ion-grid>
    <!-- entête tableau -->
    <div class="header">
      <ion-row>
        <ion-col>
          Cuve
        </ion-col>
        <ion-col>
          Equipe
        </ion-col>
        <ion-col>
          date
        </ion-col>
        <ion-col>
          Statut
        </ion-col>
        <ion-col>
          action
        </ion-col>
      </ion-row>
    </div>

    <!-- première ligne tableau-->
    <ion-row>
      <ion-col>
        Cuve 1
      </ion-col>
      <ion-col>
        Equipe1-5h/13
      </ion-col>
      <ion-col>
        22/08/2022
      </ion-col>
      <ion-col>
        <!-- <ion-icon *ngIf="status==='true'" name="checkmark-circle-outline"></ion-icon> -->
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button size="small" color="danger" [routerLink]="['/save-daily-gauge']">
          save
        </ion-button>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        Equipe2-13h/21
      </ion-col>
      <ion-col>
        22/08/2022
      </ion-col>
      <ion-col>
        <ion-icon *ngIf="status==='true'" name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="status==='false'" name="close-circle-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <strong>Gauge validate</strong>
      </ion-col>
    </ion-row>
    <div class="spacer">

    </div>


    <div class="spacer">
      <ion-row>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
    </div>
    <!-- deuxième ligne tableau-->

    <ion-row>
      <ion-col>
        Cuve 2
      </ion-col>
      <ion-col>
        Equipe1-5h/13
      </ion-col>
      <ion-col>
        22/08/2022
      </ion-col>
      <ion-col>
        <ion-icon *ngIf="status==='true'" name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="status==='false'" name="close-circle-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <!-- <ion-button size="small" color="success">
          save
        </ion-button> -->
        <strong>Gauge validate</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        Equipe2-13h/21
      </ion-col>
      <ion-col>
        22/08/2022
      </ion-col>
      <ion-col>
        <!--         <ion-icon *ngIf="status==='true'" name="checkmark-circle-outline"></ion-icon>
 -->
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button size="small" color="danger" [routerLink]="['/save-daily-gauge']">
          save
        </ion-button>
      </ion-col>
    </ion-row>
    <div class="spacer">
      <ion-row>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
    </div>
    <!-- troisième ligne -->
    <ion-row>
      <ion-col>
        Cuve 3
      </ion-col>
      <ion-col>
        Equipe1-5h/13
      </ion-col>
      <ion-col>
        22/08/2022
      </ion-col>
      <ion-col>
        <!-- <ion-icon *ngIf="status==='true'" name="checkmark-circle-outline"></ion-icon> -->
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button size="small" color="danger" [routerLink]="['/save-daily-gauge']">
          save
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        Equipe2-13h/21
      </ion-col>
      <ion-col>
        22/08/2022
      </ion-col>
      <ion-col>
        <!-- <ion-icon *ngIf="status==='true'" color="success" name="checkmark-circle-outline"></ion-icon> -->
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-col>
      <ion-col>

        <ion-button size="small" color="danger" [routerLink]="['/save-daily-gauge']">
          save
        </ion-button>

      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>