
.headerbloc{
    display: flex;
    flex-direction: row;
}


.imageheader{
    width: 251px;
    height: 81px;
    float: right;
}




.header{
    background-color: #79b43f;
}

ion-grid{
    --ion-grid-padding:1%;
}

.spacer{
    
    background-color: #d7d8dabf;
}


