<ion-header>
  <ion-toolbar>
    <ion-title>build Team</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="calendar"></ion-icon>
    <ion-datetime-button slot="end" date-target="true" datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <div class="bloc">
    <div class="bloc1">
      <ion-label> work team :</ion-label>
    </div>

    <ion-label>

      <div class="select">
        <select>
          <option value="1">Equipe1</option>
          <option value="2">Equipe2</option>
        </select>

      </div>

    </ion-label>
  </div>



  <div class="bloc">
    <div class="bloc1">
      <ion-label> course leader :</ion-label>
    </div>



    <div class="select">
      <select>
        <option value="1">Abena Tamo</option>
        <option value="2">Toto titi</option>
        <option value="2">Bobo still</option>
        <option value="2">John Still</option>
      </select>

    </div>

  </div>




  <div class="bloc">
    <div class="bloc1">
      <ion-label> gas station attendant:</ion-label>
    </div>

    <ion-label>

      <div class="select">
        <select>
          <option value="1">Bouba Lyrics</option>
          <option value="2">Bibi Lyrics</option>
          <option value="2">Barabas</option>
          <option value="2">Abena</option>


        </select>

      </div>

    </ion-label>
  </div>


  <div>
    <ion-card *ngIf="addPompiste">
      <ion-item lines="none">

        <ion-input [(ngModel)]="pompiste" placeholder="chose gas station attendant">

          <ion-button slot="start" shape="round" (click)="add()">
              <ion-icon slot="icon-only" name="add" >

              </ion-icon>

          </ion-button>

        </ion-input>

      </ion-item>

    </ion-card>



    <ion-button *ngIf="!addPompiste" (click)="showForm()" expand="block" class="add-button">
      <ion-icon name="add" slot="start"> </ion-icon>
      add Gas station attendant
    </ion-button>

    <ion-button *ngIf="addPompiste" (click)="showForm()" expand="block" class="add-button">
      <ion-icon name="add" slot="start"> </ion-icon>
      cancel
    </ion-button>

  </div>







  <ion-row>
    <ion-col text-center>
      <button ion-button block class="but" [routerLink]="['/visualize-team']">
        <p> <strong>Build </strong> </p>d

      </button>
    </ion-col>
  </ion-row>

</ion-content>