<ion-header>
  <ion-toolbar>
    <ion-title>saveDailyGauge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div>
   <ion-item>

    <ion-select interface="popover" placeholder="Resources">
      <ion-select-option value="apples">Super</ion-select-option>
      <ion-select-option value="oranges">Gasoil</ion-select-option>
      <ion-select-option value="ananas">Petrole</ion-select-option>
    </ion-select>
    
      <ion  -datetime-button slot="end" color="success"  datetime="datetime"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>



   
    
   </ion-item>

   
    
  </div>

</ion-content>
