<ion-header>
  <ion-toolbar >
    
    <ion-title >save Daily Gauge</ion-title>

    <ion-buttons slot="start"> 
           <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
    


  </ion-toolbar>
</ion-header>



<ion-content>



  <ion-item>

    <ion-icon slot="start" name="calendar"></ion-icon>
    <ion-datetime-button slot="end" color="success" date-target="true" datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="cog"></ion-icon>
    <ion-select slot="end" interface="popover" placeholder="Resources">
      <ion-select-option value="super">Super</ion-select-option>
      <ion-select-option value="gasoil">Gasoil</ion-select-option>
      <ion-select-option value="petrole">Petrole</ion-select-option>
    </ion-select>

  </ion-item>


  <div class="bloc">
    <div class="bloc1">
      <ion-label> Hour of work :</ion-label>
    </div>

    <ion-label>

      <div class="select">
        <select>
          <option value="1">5h/13</option>
          <option value="2">13h/21</option>
        </select>

      </div>

    </ion-label>
  </div>


  <div class="bloc">
    <div class="bloc1">
      <ion-label> work team :</ion-label>
    </div>

    <ion-label>

      <div class="select">
        <select>
          <option value="1">Equipe1</option>
          <option value="2">Equipe2</option>
        </select>

      </div>

    </ion-label>
  </div>


  <div class="bloc2">
    <div class="jauge">
      <ion-label> opening volume:</ion-label>
    </div>

    <div class="input">
      <p><input type="text" name="pseudo" /> </p>

    </div>

  </div>



  <div class="bloc3">
    <div class="jauge">
      <ion-label> closing volume:</ion-label>
    </div>

    <div class="input">
      <p><input type="text" name="pseudo" /> </p>

    </div>

  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Volume Carburant Sorti de la cuve</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-chip>
          <ion-label> <strong>1000</strong> </ion-label>
        </ion-chip>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
 -->
 <div class="affichagevolume">
   <p> <strong>1000000 m³</strong> </p>

 
 </div>

 
    </ion-card-content>
  </ion-card>

  <!-- <div>
    <div class="jauge">
      <ion-label> Volume de carburant sorti:</ion-label>
      <ion-chip>
        <ion-label> <strong>1000</strong> </ion-label>
      </ion-chip>

    </div>
  </div> -->

  <ion-row>
    <ion-col text-center>
      <button ion-button block class="but" [routerLink]="['/gauge-status']">
        <p> <strong>Validate</strong> </p>
      </button>
    </ion-col>
  </ion-row>



</ion-content>