.header {
    height: 180px;
    background-color: #79b43f;
    width: 100%;
    padding-top: 1px;
}

.header h2 {
    color: white;
    text-align: center;
    font-weight: bold;
}

.img-box {
    border-radius: 55%;
    overflow: hidden;
    height: 97px;
    width: 146px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

