<ion-app>
  <ion-split-pane contentId="menu">
    <ion-menu contentId="menu" menuId="menu" side="start" type="overlay">

      <!-- <ion-header>
        <ion-toolbar color="light"> 
          <ion-title> Menu</ion-title>
        </ion-toolbar>
       
      </ion-header> -->

      <div class="header">
        

      </div>


      <ion-content>

        <ion-menu-toggle autoHide="false">
          <ion-item [routerLink]="['/save-daily-gauge']" >
           
            <ion-avatar slot="start">
              <img src="/assets/images/cuve.jpg">
            </ion-avatar>
            <ion-label> save daily Gauge </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item [routerLink]="['/daily-fuel-output']" >
           
            <ion-avatar slot="start">
              <img src="/assets/images/lance.jpg">
            </ion-avatar>
            <ion-label> daily fluel output </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item [routerLink]="['/build-team']">
            <ion-avatar slot="start">
              <img  src="/assets/images/team.png">
            </ion-avatar>
            <ion-label> Build Team </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item [routerLink]="['/visualize-team']">
            <ion-avatar slot="start">
              <img  src="/assets/images/team.jpeg">
            </ion-avatar>
            <ion-label> Visualize Team </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item [routerLink]="['/assign-pump']">
            <ion-avatar slot="start">
              <img  src="/assets/images/gas agent station.png">
            </ion-avatar>
            <ion-label> Assign pump </ion-label>
          </ion-item>
        </ion-menu-toggle>


      </ion-content>

    </ion-menu>

    <ion-router-outlet id="menu"> </ion-router-outlet>
  </ion-split-pane>


</ion-app>