<!-- <ion-header>
  <ion-toolbar>
    <ion-title>connection</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div id="cercle1"></div>
  <div id="cercle2"> </div>


  <div class="header">
    <H2> <strong>Welcome at ISNOV</strong> </H2>
    <p> Business Technology Consulting </p>
  </div>




  <div class="container">
  <form action="">
<ion-item>
<ion-label floating>Email</ion-label>
<ion-input ></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Password</ion-label>
  <ion-input ></ion-input>
</ion-item>

<ion-item>
  <ion-select interface="popover" placeholder="choose a language">
    <ion-select-option value="apples">Français</ion-select-option>
    <ion-select-option value="oranges">Anglais</ion-select-option>
  </ion-select>
</ion-item>


<ion-row >
  <ion-col text-center>
    <button ion-button block color="secondary"  class="button">
     <p>Sign in</p> 
    </button>
  </ion-col>
</ion-row>

  </form>

</div>

</ion-content>
