<ion-header>
  <ion-toolbar>
    <ion-title>visualisePumpGasStationAgent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 

  <div class="bloc1">
    <div class="bloc11">
      <ion-row >

        <h1>  Abena Tamo </h1>
  
      </ion-row>
           

      <ion-img class="pump" src="assets/images/pump1.png"></ion-img>
    </div>

    <div class="bloc12">
      <ion-row >

        <h1>  Abena Tamo </h1>
  
      </ion-row>
      <ion-img class="pump" src="assets/images/pump1.png"></ion-img>

    </div>
  </div>

  <!--*********************************************** 2ème bloc -->
  <div class="bloc1">
    <div class="bloc11">
      <ion-row >

        <h1>  Abena Tamo </h1>
  
      </ion-row>
     

      <ion-img class="pump" src="assets/images/pump1.png"></ion-img>

      
    </div>

    <div class="bloc12">
      <ion-row >

        <h1>  Abena Tamo </h1>
  
      </ion-row>
      <ion-img class="pump" src="assets/images/pump1.png"></ion-img>
      
    </div>
  </div>

  <!--*********************************************** 3ème bloc -->

  <div class="bloc1">
    <div class="bloc11">
      <ion-row >

        <h1>  Abena Tamo </h1>
  
      </ion-row>
           

      <ion-img class="pump" src="assets/images/pump1.png"></ion-img>
    </div>

    <div class="bloc12">
      <ion-row >

        <h1>  Abena Tamo </h1>
  
      </ion-row>
      <ion-img class="pump" src="assets/images/pump1.png"></ion-img>

    </div>
  </div>


  

  
</ion-content>
