<ion-header>
  <ion-toolbar>
    <ion-title>visualise Gas station </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 

 <!--  <div class="bloc1">
    <div class="bloc11">
      <ion-row >

        <h1>  Abena Tamo </h1>
  
      </ion-row>
           

      <ion-img class="pump" src="assets/images/pump1.png"></ion-img>
    </div>

    <div class="bloc12">
      <ion-row >

        <h1>  Abena Tamo </h1>
  
      </ion-row>
      <ion-img class="pump" src="assets/images/pump1.png"></ion-img>

    </div>
  </div> -->

<ion-card>
  
  <ion-card-content>
    <div class="img-box">
      <img src=" /assets/images/iconepompiste.png" alt="">
     

    </div>
    <h2>Elon Musk</h2>
    <h2>pump 1</h2>


    <p>17.08.2020</p>

    <div class="index">
      <p>Opening index <Strong>3000</Strong> </p>
      <p>Opening index  <Strong>3000</Strong>  </p>


    </div>
  </ion-card-content>

</ion-card>
  
  


  

  
</ion-content>
