<ion-header>
  <ion-toolbar>
    <ion-title>visualize Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="border-white">
    <div class="img-box">
      <img src="assets/images/team.png" alt="">
  
      
        </div>
  </div>
  <div class="space">


  </div>
  

  <ion-list>
    <ion-item-divider>
      <ion-label>
          <Strong> Chef de piste</Strong> 
    </ion-label>
    </ion-item-divider>
  
    <ion-item><ion-label>A1</ion-label></ion-item>
   
  
    <ion-item-divider>
      <ion-label>
        <Strong> Pompiste</Strong>
      </ion-label>
    </ion-item-divider>
  
    <ion-item><ion-label>Abéna </ion-label></ion-item>
    <ion-item><ion-label>Boyomo</ion-label></ion-item>
    <ion-item><ion-label>Bobo</ion-label></ion-item>
   
  </ion-list>



  <ion-row >
    <ion-col text-center>
      <button ion-button block color="secondary"  class="button">
       <p>validate</p> 
      </button>
    </ion-col>
  </ion-row>
  

</ion-content>
